configuration {
  display-drun:    "Program";
  display-run:     "Command";
  display-window:  "Window";
  modi: "drun,run,window";
  font: "Hack 12";
  show-icons: true;
  theme: "slate";
  /* Keybinding */
  kb-cancel: "Escape,Control+g,Super+space";
}