[Desktop Entry]
Version=1.0
Name=Poweroff
Comment=Poweroff the computer
TryExec=/usr/bin/poweroff
Exec=/usr/bin/poweroff
Icon=system-shutdown
Terminal=false
Type=Application
Categories=System;
Keywords=system;poweroff;