[Desktop Entry]
Version=1.0
Name=Suspend
Comment=Suspend the computer
TryExec=/usr/bin/systemctl
Exec=/usr/bin/systemctl suspend
Icon=system-suspend
Terminal=false
Type=Application
Categories=System;
Keywords=system;reboot;