[Unit]
Description=Random wallpaper with feh timer

[Timer]
OnStartupSec=1 ms
OnUnitActiveSec=5 minutes
Unit=feh-wallpaper.service

[Install]
WantedBy=default.target