[Unit]
Description=Random wallpaper with feh

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/bin/bash -c '/usr/bin/feh --randomize --bg-fill ~/Pictures/wallpapers/*'

[Install]
WantedBy=default.target