[Unit]
Description=Random wallpaper with feh timer

[Timer]
OnStartupSec=10 s
OnUnitActiveSec=5 minutes
Unit=feh-wallpaper.service

[Install]
WantedBy=default.target