<snippet>
	<content><![CDATA[
<menuchoice><guimenu>${1:menu}</guimenu><guimenuitem>${2:guimenuitem}</guimenuitem></menuchoice> $0
]]></content>
	<tabTrigger>menuchoice</tabTrigger>
	<scope>text.xml</scope>
</snippet>